@font-face {
    font-family: Consolas;
    src: url('../css/fonts/Consolas/Consolas.ttf');
}

* {
    margin:0;
    padding:0;
    font-family: Consolas;
}

html, body {
    height:100vh;
    background-size: cover;
    background-position: bottom center;
}

.login-body {
    background-image: url('../images/cityBN.png');
}

.lobby-body {
    background-image: url('../images/barBN.png');
}

.battle-body {
    background-image: url('../images/stageBN.png');
}

.guide-body {
    background-image: url('../images/docBNDark.png');
}

input {
    position: absolute;
    font-size: 40px;
    width:100px;
    text-align: center;
}

img {
    height:150px;
    position: absolute;
    top:100px;
    left:100px;
}

.login-body{
    text-align: center;
}

.static-elements{
    position: relative;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 100%;
}

#title{
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    text-align: center; 
    width: 100%;
    height: 20%;
    font-size: xx-large;
    z-index: 1;
}

#title #outOf{
    color: white;
    margin-right: 10px;
}

#title #magenta{
    color: #00FF00;
}

#formLogin{ 
    position: relative;
    text-align: center; 
    width: 100%;
    height: 40%;
    border-radius: 25px;
    border: #00FF00 2px solid;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.login-line {
    width: 100%;
    height: 100%;
}

.form-input{
    width: 100%;
    height: 40%;
    text-align: center;
}

.form-input input{
    position: relative;
    left: 0%;
    top: 20%;
    width: 80%;
    background-color: black;
    color: #00FF00;
}
.form-input input::placeholder{
    color: #00FF00;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  border: 1px solid #00FF00;
  -webkit-text-fill-color: #00FF00;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  background-color: black;
  transition: 5000s ease-in-out 0s;
}

.form-button{
    width: 100%;
    height: 20%;
}

.form-button input{
    position: relative;
    left: 0%;
    width: 30%;
    background-color: black;
    color: #00FF00;
}

.revenant{
    width: 100px;
    height: 100px;
}

.fireworksRegular{
    position: relative;
    background-image: url('../images/AnimSpirLogin/fireworks/fireworksRegular.gif');
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
}

.fireworksFlipped{
    position: relative;
    background-image: url('../images/AnimSpirLogin/fireworks/fireworksFlipped.gif');
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
}