@font-face {
    font-family: Consolas;
    src: url('../css/fonts/Consolas/Consolas.ttf');
}

* {
    margin:0;
    padding:0;
    font-family: Consolas;
}

html, body {
    height:100vh;
    background-size: cover;
    background-position: bottom center;
}


.lobby-body {
    background-image: url('../images/barBN.png');
}

input {
    font-size: 40px;
    width:100px;
    text-align: center;
}

img {
    height:150px;
    position: absolute;
    top:100px;
    left:100px;
}

.lobby-container{
    position: relative;
    width: 100%;
    height: 99%;
}

.lobby-options{
    position: relative; 
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 5%;
    left: 100px;
    width: 30%;
    height: 80%;
    border: #00FF00 solid 3px;
    border-radius: 25px;
}

.lobby-options:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 25px;
    background: black;
    z-index: -1;
}

.lobby-options div{ 
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-options div input{ 
    width: 35%;
    z-index: 1;
    background-color: black;
    color: #00FF00;
}

#chat-container{
    position: relative;
    overflow: hidden;
    width: 33%;
    height: 20%;
    left: 50%;
    bottom: 15%;
    border: #00FF00 solid 2px;
    border-radius: 25px;
}

iframe{
    position: relative;
    width: 106%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 1;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
}