@font-face {
    font-family: Consolas;
    src: url('../css/fonts/Consolas/Consolas.ttf');
}

* {
    margin:0;
    padding:0;
    font-family: Consolas;
}

html, body {
    height:100vh;
    background-size: cover;
    background-position: bottom center;
}

img {
    height:150px;
    position: absolute;
    top:100px;
    left:100px;
}

.post-body {
    background-image: url('../images/docBNDark.png');
    color: #00FF00;
}

textarea{
    color: #00FF00;
    background-color: rgba(0, 0, 0, 0.5);
    resize: none;
    outline: none;
}

textarea:focus{
    border: #00FF00 1px solid;
}

input {
    position: relative;
    font-size: 40px;
    width:220px;
    text-align: center;
    background-color: black;
    color: #00FF00;
}

button {
    position: relative;
    text-align: center;
    background-color: black;
    color: #00FF00;
    width: 100%;
    height: 100%;
}

.post-title{
    position: sticky; 
    top: 0;
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
    border: #00FF00 2px solid;
    z-index: 2;
}

.post-title div, form{
    width: 100%;
}

.back-container{
    margin-left: 20px;
}

.title-container{
    text-align: center;
}

.currentPost{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.curPost-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.curPost-form textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.currentPost-text{
    width: 50%;
}

.currentPost-footer{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.currentPost-Author{
    display: flex;
    align-items: center;
    width: 15%;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: #00FF00 1px solid;
}

.edit-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 150px;
    border: gray 1px solid;
    background-color: rgba(0, 0, 0, 0.5);
}

.user-info{
    width: 50%;
}

.edit-author{
    display: flex;
    align-items: center;
    width: 15%;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: #00FF00 1px solid;
}

.edit-text, .user-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comments-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.newComment-form{
    display: flex;
    flex-direction: column;
}

.newComment-form textarea{
    margin-left: auto;
    margin-right: auto;
}

.newComment-form div{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.newComment-text{
    width: 50%;
}

.other-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.single-comment{
    margin-bottom: 10px;
}

.single-comment div{
    border: #00FF00 1px solid;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

.comment-text{
    width: 100%;
}

.comment-author{
    width: 20%;
}
