* {
    margin:0;
    padding:0;
}

html, body {
    height:100vh;
    background-size: cover;
    background-position: bottom center;
}
.lobby-body {
    background-image: url('../images/barBN.png');
}

input {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width:100px;
    text-align: center;
}

img {
    height:150px;
    position: absolute;
    top:100px;
    left:100px;
}

.lobby-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.lobby-options{
    position: relative; 
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 100px;
    left: 100px;
    width: 30%;
    height: 80%;
    border: white solid 3px;
    border-radius: 25px;
}

.lobby-options:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 25px;
    background: black;
    z-index: -1;
}

.lobby-options div{ 
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-chat{
    position: relative;
    left: 50%;
    bottom: 15%;
    width: 40%;
    height: 25%;
    border: #00FF00 solid 2px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}